services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "8080:80/tcp"
      - "443:433/tcp"
    environment:
      TZ: 'Europe/Brussels'
      FTLCONF_webserver_api_password: "V69X@yASS7#E4RANZCVH"
      FTLCONF_dns_listeningMode: 'ALL'
    volumes:
      - './etc-pihole:/etc/pihole'
    restart: unless-stopped
